body{
  background-image: linear-gradient(#ADD8E6, white);
  color: black;
}

.header{
  font-family: "Varela Round", sans-serif; /* Choose a font family */
  font-size: 60px; /* Large font size */
  font-weight: 700; /* Bold font */
  color: rgb(0, 68, 255); /* Text color */
  text-align: center; /* Center the text */
  letter-spacing: 2px; /* Slightly space out the letters */
  text-transform: uppercase; /* Make the text uppercase */
  padding: 20px; /* Add some padding */
  background-color: transparent; /* Make background transparent */
}

#image_placeholder{
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

